@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

:root {
  /* --color-primary: #f4a300;
  --color-primary-hover: #d99200;

  --color-danger: #e11d48;
  --color-danger-hover: #be123c;

  --color-white: #ffffff; */

    --color-primary: #123B63;        /* Deep Navy */
  --color-primary-hover: #0D2E4D;

  --color-secondary: #1A8F78;      /* Teal Green */
  --color-secondary-hover: #14735F;

  --color-danger: #DC2626;
  --color-danger-hover: #B91C1C;

  --color-white: #ffffff;

  --color-footer: #0D2E4D;
  
}

body {
  font-family: "Barlow Condensed";
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* globals.css */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 20px 40px; /* more horizontal weight */
  font-size: 16px;
  font-weight: 400; /* bolder like screenshot */
  line-height: 1; /* prevents vertical misalignment */

  border-radius: 0 20px;
  border: none;
  cursor: pointer;

  color: #fff;
  white-space: nowrap;

  transition: all 0.25s ease;
}

/* navy button */
.btn-primary {
  background: var(--color-primary);
  color: #fff;
}

.btn-primary:hover {
  background: var(--color-primary-hover);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn-secondary:hover {
  background-color: var(--color-secondary-hover);
}

/* Red button */
.btn-danger {
  background: var(--color-danger);
  color: #fff;
}

.btn-danger:hover {
  background: var(--color-danger-hover);
}
